
  
html, body, #fullheight {
    min-height: 100% !important;
    height: auto;
    margin: 0;
    height: 100vh;
    width: 100vw;
   /* overflow-x: hidden;  */
}


#root {

  min-height: 100vh;
  padding-bottom: 300px;
  position: relative;

}


element {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

}

  .left {
/*    border: 6px solid #c8f015;
    background-color: rgb(255, 0, 0);*/
    padding: 15px;
    float: left;
    width: 40%;
    height: 100%;
    overflow-y: auto;
    left: 0;
  }

  .inner-left {

    float: right;
    margin: 5px;
    text-align: right;
/*   border: 6px solid #ffffff;
    background-color: rgb(188, 204, 48);*/
  }

  .header {
    
    margin: 25px;
    text-align: right;
/*    border: 6px solid #ffffff;
    background-color: rgb(188, 204, 48);*/
  }

  .image {
    min-height: 100px;
    max-height: auto;
    float: right;
    margin: 5px;
    text-align: right;
/*    border: 6px solid #ffffff;
    background-color: rgb(188, 204, 48);*/
  }


  .description {
    margin-left: auto;
    margin:15px;
}
  
  .main {
/*    border: 6px solid #4CAF50;
    background-color: blue;*/
    padding: 20px;
    float: left;
    width: 60%;
    min-height: 100%;
    height: auto;
  }
  
  .menu {
  padding: 1rem;
/*    border: 6px solid #ffffff;
    background-color: rgb(253, 253, 253);*/
}
  
@media screen and (max-width: 600px) {
  .left, .main, .canv {
    position: relative;
    width: 100%;
    height: auto;
    /* position:fixed; */
    top:0;
    bottom:0;
    left:0;
    z-index:0
  }
}

.btn-spcial1:defined {
background-color: #1111 !important; 
border-color: #800080 !important;
color: #800080 !important;
border-width: 2px !important;
}
.btn-spcial1:hover {
background-color: #800080 !important;
border-color: #800080 !important;
color: #f0f8ff !important;
}


.btn-spcial2:defined {
    background-color: #1111 !important; 
    border-color: #0078AA !important;
    color: #0078AA !important;
    /* border-width: 2px !important; */
}
.btn-spcial2:hover {
background-color: #0078AA !important;
border-color: #0078AA !important;
color: #f0f8ff !important;
}

.btn-spcial3:defined {
    background-color: #1111 !important; 
    border-color: #D4F6CC !important;
    color: #D4F6CC !important;
    /* border-width: 2px !important; */
}
.btn-spcial3:hover {
background-color: #1111 !important;
border-color: #D4F6CC !important;
color: #f0f8ff !important;
}


.btn-spcial4:defined {
    background-color: #1111 !important; 
    border-color: #EF5B0C !important;
    color: #EF5B0C !important;
    /* border-width: 2px !important; */
}
.btn-spcial4:hover {
background-color: #EF5B0C !important;
border-color: #EF5B0C !important;
color: #f0f8ff !important;
}


.btn-spcial5:defined {
    background-color: #1111 !important; 
    border-color: #3CCF4E !important;
    color: #3CCF4E !important;
    /* border-width: 2px !important; */
}
.btn-spcial5:hover {
background-color: #3CCF4E !important;
border-color: #3CCF4E !important;
color: #f0f8ff !important;
}

.btn-spcial6:defined {
    background-color: #1111 !important; 
    border-color: #3D8361 !important;
    color: #3D8361 !important;
    /* border-width: 2px !important; */
}
.btn-spcial5:hover {
background-color: #3D8361 !important;
border-color: #3D8361 !important;
color: #f0f8ff !important;
}

.bg-special1:defined {
  background-color: #00386550 !important;
}

.bg-special-empty:defined {
  background-color: #00386500 !important;
}

.bg-special-blue:defined {
  background-color: #081c2d !important;
}
